{% extends 'base.html' %}

{% block title %}
	<title>Create Item</title>
{% endblock %}

{% block content %}
	<div class="container">
		<h1 class="text-center">Create an Item</h1>
		{% for error in errors %}
			<div class="alert alert-danger" role="alert">
  				{{ error }}
			</div>
		{% endfor %}
		<form method="POST">
		  <div class="mb-3">
		    <label for="title" class="form-label">Item Title</label>
		    <input type="text" class="form-control" required name="title" placeholder="enter item title">
		 </div>
		 <div class="mb-3">
    		<label for="description" class="form-label">Item Description</label>
    		<textarea class="form-control" required name="description" placeholder="Enter item description"></textarea>
			<div class="form-text">Describe all details about items</div>
  		</div>
  			<button type="submit" class="btn btn-primary">Submit</button>
		</form>
	</div>
{% endblock %}
