{% extends "base.html" %}
{% block title %}
	<title> Item Home Page </title>
{% endblock %}
{% block content %}
	<div class="container">
		<h3> All Items... </h3>
		{% if msg %}
			<div class="alert alert-success" role="alert">
  				{{msg}}
			</div>
		{% endif %}
		<div class="row">
			{% for item in items %}
				<div class="col-md-4 mr-auto">
					{% with obj=item %}
						{% include 'card.html' %}
					{% endwith %}
					{% if loop.index % 3 %}
						<br>
					{% endif %}
				</div>
			{% endfor %}
		</div>
	</div>
{% endblock %}
