{% extends 'base.html' %}

{% block title %}
	<title>Login Page</title>
{% endblock %}

{% block content %}
	<div class="container">
		<h1 class="text-center">Login Here !!</h1>
		{% if msg %}
			<div class="alert alert-success" role="success">
				{{ msg }}
			</div>
		{% endif %}
		{% for error in errors %}
			<div class="alert alert-danger" role="alert">
		  		{{ error }}
			</div>
		{% endfor %}

		<form method="POST">
  			<div class="mb-3">
    			<label for="email" class="form-label">Email address</label>
    			<input type="email" required class="form-control" name="email" aria-describedby="emailHelp">
  			</div>
  			<div class="mb-3">
    			<label for="password" class="form-label">Password</label>
    			<input type="password" required class="form-control" name="password">
  			</div>
			<button type="submit" class="btn btn-primary">Login</button>
		</form>
	</div>
{% endblock %}
