{% extends 'base.html' %}

{% block title %}
	<title>User Registration</title>
{% endblock %}

{% block content %}
	<div class="container">
		<h1 class="text-center"> User Registration </h1>
  			{% for error in errors %}
				<div class="alert alert-danger" role="alert">
					{{ error }}
				</div>
			{% endfor %}
		<form method="POST">
  			<div class="mb-3">
    			<label for="email" class="form-label">Email address</label>
    			<input type="email" class="form-control" name="email" aria-describedby="emailHelp" placeholder="enter email">
  			</div>
  			<div class="mb-3">
    			<label for="password" class="form-label">Password</label>
    			<input type="password" class="form-control" name="password" placeholder="enter password">
  			</div>
  			<button type="submit" class="btn btn-primary">Register</button>
		</form>
	<div>
{% endblock %}
