# exclude __pycache__ (bytecode .pyc or .pyo) folder and files
__pycache__
# exclude env (virtual environment) folder
env
# exclude database file (if we use sqlite)
*.db
# exclude swap files, created by vim/nano editor
*.swp
# exclude .coverage file which get generated using pytest-cov
.coverage
# exclude htmlcov report folder
htmlcov
