{% extends  "shared/base.html" %}

{% block title %}
	<title> New JobBoard </title>
{% endblock %}

{% block content %}
	<div class="container">
		<h1 class="display-4 txt-danger text-center">Find Jobs...</h1>

		<div class="row">
			{% for job in jobs %}
				<div class="col-lg-4 col-md-3 col-sm-10 mr-auto">
					{% with obj=job %}
						{% include 'components/card.html' %}
					{% endwith %}
					{% if loop.index % 3 %}
						</div>
					{% else %}
						</div></div><br><div class="row">
					{% endif %}
			{% endfor %}
		</div>
	</div>
{% endblock %}
